* {
   margin: 0;
   padding: 0;
}

header {
   padding: 2rem 0;
   border-bottom: 1px solid #030308;
   text-align: center;
   font-size: 1.125rem;

}

h1 {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: 400;
   font-size: 3.5rem;
}

p {
   margin-top: 1.5rem;
   font-family: sans-serif;
   font-size: 12px;
}

main {
   text-align: center;
   margin: 2rem 0;
   font-size: 1.125rem;
}

h2 {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: 100;
   margin-bottom: 1rem;
}

.inscreva {
   margin: 1.5rem 0 0 0;
   display: inline-block;
   padding: 1rem 1.5rem;
   border-radius: 30px;
   background-color: black;
   color: #fff;
   text-transform: uppercase;
   text-decoration: none;
   font-family: sans-serif;
   font-weight: 700;
   font-size: 12px;
}

img {
   display: block;
   width: 500px;
   margin: 0 auto;
}

.explore {
   margin-top: 3rem;

}

.explore a {
   background-color: #43abf6;
   text-decoration: none;
   color: #fff;
   padding: 1rem 1.5rem;
   border-radius: 30px;
   font-size: 12px;
   font-family: sans-serif;
}

.genres>li+li {
   margin-left: 1rem;
   margin-top: 1rem;
}

.explore li {
   display: inline-block;
   margin: 2rem 0;
}

#ver-mais {
   background-color: black;
   ;
}

footer {
   background-color: #232323;
   text-align: center;
   color: #fff;
   padding: 1rem;
}